.word-form {
    background-color: white;
    border-radius: 10px;
}
.meaning-form {
    background-color: white;
    border-radius: 10px;
}
.example-form {
    background-color: white;
    border-radius: 10px;
}